  <div id="tfheader">
    <div id="center-container">
      <img src="Sighomes-Logo-350.jpg" alt="Signature Homes" />

      <form id="tfnewsearch" method="get" action="/search">      
        <input type="radio" name="location" value="bham" checked /> Birmingham/Nashville
        <input class="space-checkbox" type="radio" name="location" value="hunt" /> Huntsville
        <br />
        <input type="text" id="tfq" class="tftextinput2" name="q" size="21" maxlength="120" value="Search for Parts">
        <input type="submit" value=">" class="tfbutton2">
      </form>
      <div class="tfclear"></div>
      <div id="copyright">&copy; 2015 NSH Corp dba Signature Homes</div>
    </div>
  </div>